:root {
    /* Colors */
    --primary-l:   #3a5f8f;
    --primary:     #093773;
    --primary-d:   #072c5c;

    --secondary-l: #414766;
    --secondary:   #121940;
    --secondary-d: #0e1433;

    --tertiary-l:  #3985a3;
    --tertiary:    #08678C;
    
    --red-l:       #e13645;
    --red:         #D90416;
    --red-d:       #ae0312;

    --light-l:     #ffffff;
    --light:       #f7f7f7;
    --light-d:     #e6e6e6;

    --grey-l:      #cccccc;
    --grey:        #808080;
    --grey-d:      #4c4c4c;
    
    --dark-l:      #333333;
    --dark:        #191919;
    --dark-d:      #000000;

    /* Font family */
    --ff-s-serif: "Poppins", sans-serif;

    /* Font size */
    --fs-big: 42px;
    --fs-h1: 34px;
    --fs-h2: 30px;
    --fs-h3: 26px;
    --fs-h4: 22px;
    --fs-h5: 18px;
    --fs-par: 16px;
    --fs-small: 14px;
    --fs-smaller: 12px;

    /* Font weight */
    --fw-regular: 400;
    --fw-semi-bold: 600;
    --fw-bold: 700;

    /* Z index */
    --z-tooltip: 10;
    --z-fixed: 100;
}

/* == == == Global == == == */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--light);
    color: var(--dark);
    font-family: var(--ff-s-serif);
    font-size: var(--fs-par);
}

ul {list-style: none;}
a {text-decoration: none;}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.container {
    margin-inline: 24px;
    max-width: 1120px;
}

main {overflow: hidden;}

/* == == == Header == == == */

header {
    background-color: transparent;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
}

nav {
    height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

#nav_logo img {
    margin-top: 3px;
    height: 50px;
}

.nav_toggle, .nav_close {
    cursor: pointer;
    font-size: 24px;
}

#nav_list {
    display: flex;
    flex-direction: column;
    row-gap: 48px;
}

.nav_link {
    color: var(--dark);
    font-weight: var(--fw-semi-bold);
}

.nav_link:hover {text-decoration: underline;}

.nav_close {
    position: absolute;
    top: 16px;
    right: 24px;
}

.nav_menu.show_menu {right: 0;}

/* == == == Hero == == == */

/* == == == Media queries == == == */

@media screen and (max-width: 1150px) {
    .nav_menu {
        background-color: #ffffff1a;
        backdrop-filter: blur(16px);
        -webkit-backdrop-filter: blur(16px);
        padding: 96px 48px 0;
        width: 80%;
        height: 100%;
        position: fixed;
        top: 0;
        right: -100%;
        transition: right .4s;
    }
}