:root {
    /* Shadows */
    --shadow-default: #0000004d;

    /* Colors */
    --primary-l:   #3a5f8f;
    --primary:     #093773;
    --primary-d:   #072c5c;

    --secondary-l: #414766;
    --secondary:   #121940;
    --secondary-d: #0e1433;

    --tertiary-l:  #3985a3;
    --tertiary:    #08678C;
    --tertiary-d:  #065270;
    
    --red-l:       #e13645;
    --red:         #D90416;
    --red-d:       #ae0312;

    --light-l:     #ffffff;
    --light:       #f7f7f7;
    --light-d:     #e6e6e6;

    --grey-l:      #cccccc;
    --grey:        #808080;
    --grey-d:      #4c4c4c;
    
    --dark-l:      #333333;
    --dark:        #191919;
    --dark-d:      #000000;

    /* Font family */
    --ff-s-serif: "Poppins", sans-serif;

    /* Font size */
    --fs-big: 42px;
    --fs-h1: 34px;
    --fs-h2: 30px;
    --fs-h3: 26px;
    --fs-h4: 22px;
    --fs-h5: 18px;
    --fs-par: 16px;
    --fs-small: 14px;
    --fs-smaller: 12px;

    /* Font weight */
    --fw-regular: 400;
    --fw-semi-bold: 600;
    --fw-bold: 700;

    /* Z index */
    --z-tooltip: 10;
    --z-fixed: 100;
}

/* == == == Dark theme == == == */
.dark_theme::-webkit-scrollbar {background-color: var(--dark-l);}
.dark_theme::-webkit-scrollbar-thumb {background-color: var(--grey);}
.dark_theme::-webkit-scrollbar-thumb:hover {background-color: var(--grey-l);}

body.dark_theme {
    /* Shadows */
    --shadow-default: #12121299;

    /* Colors */
    --primary:     #3a5f8f;

    --tertiary-l:  #072c5c;

    --light:       #0e1433;
}

/* == == == Global == == == */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--light);
    color: var(--dark);
    font-family: var(--ff-s-serif);
    font-size: var(--fs-par);
    height: 10000px;
}

input, button {
    border: none;
    outline: none;
}

ul {list-style: none;}
a {text-decoration: none;}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    max-width: 1120px;
    margin-inline: 24px;
}

.grid {
    display: grid;
    gap: 24px;
}

.section {padding-block: 80px 16px;}

.section_title {
    color: var(--primary);
    margin-bottom: 24px;
    font-size: var(--fs-h1);
    text-align: center;
}

/* == == == Splash screen == == == */

#intro {
    background-color: var(--primary);
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 999;
    transition: 1s;
}

#logo_splash {
    top: 40%;
    left: 50%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 9px;
    transform: translate(-50%, -50%);
}

.logo {
    opacity: 0;
    bottom: -20px;
    position: relative;
    display: inline-block;
}

#icon img {
    max-width: 90px;
    height: auto;
}

#title img {
    max-width: 180px;
    height: auto;
}

.logo.active {
    opacity: 1;
    bottom: 0;
    transition: ease-in-out 0.5s;
}

.logo.fade {
    opacity: 0;
    bottom: 150px;
    transition: ease-in-out 0.5s;
}

/* == == == Scroll bar == == == */
::-webkit-scrollbar {
    border-radius: 8px;
    background-color: var(--light-d);
    width: 9px;
}

::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: var(--grey);
}

::-webkit-scrollbar-thumb:hover {background-color: var(--grey-d);}

/* == == == Scroll up == == == */
.scrollup {
    box-shadow: 0 3px 9px var(--shadow-default);
    border-radius: 3px;
    background-color: var(--light-d);
    color: var(--dark-l);
    padding: 6px;
    font-size: var(--fs-h4);
    position: fixed;
    display: inline-flex;
    right: 16px;
    bottom: -50%;
    z-index: var(--z-tooltip);
    transition: .3s;
}

.scrollup:hover {
    box-shadow: 0 3px 12px var(--shadow-default);
    color: var(--primary);
    transform: translateY(-8px);
}

.show_scroll {bottom: 96px;}

/* == == == Header == == == */
header {
    background-color: var(--primary);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    transition: box-shadow ease-in-out .6s;
}

.shadow_header {box-shadow: 0 2px 16px var(--shadow-default);}

nav {
    height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav_logo {
    height: 100%;
    display: flex;
    align-items: center;
}

#nav_logo img {height: 90%;}

#nav_actions {
    display: flex;
    align-items: center;
    column-gap: 18px;
}

#theme_btn, .nav_toggle, .nav_close {
    font-size: var(--fs-h3);
    color: var(--light);
    cursor: pointer;
    transition: color .4s;
}

#theme_btn:hover, .nav_toggle:hover, .nav_close:hover {color: var(--tertiary-l);}

#nav_list {
    display: flex;
    flex-direction: column;
    row-gap: 2.5rem;
}

.nav_link {
    padding: 9px 0 9px 24px;
    position: relative;
    color: var(--dark);
    font-weight: var(--font-semi-bold);
    transition: color .4s;
}

.nav_link::before {
    content: '';
    position: absolute;
    bottom: 9px;
    width: calc(100% - 24px);
    height: 2px;
    background-color: var(--tertiary-l);
    transform: scaleX(0);
    transition: transform 0.5s ease-in-out;
    transform-origin: right;
}

.nav_link:hover::before {
    transform: scaleX(1);
    transform-origin: left;
}

.nav_close {
    position: absolute;
    top: 1.15rem;
    right: 1.5rem;
}

/* Show menu */
.show_menu {top: 0;}

/* == == == Main == == == */
/* Hero */
.home_swiper {margin: initial;}

.home_container {
    padding-top: 24px;
    row-gap: 32px;
}

.home_data {text-align: center;}

#home_title {
    margin-bottom: 16px;
    font-size: var(--fs-big);
}

#home_description {margin-bottom: 32px;}
#home_images {display: grid;}

.home_article, .home_img {
    width: 220px;
    transition: scale .4s;
}

.home_article {scale: .8;}
.swiper-slide-active, .swiper-slide-duplicate-active {scale: 1;}

/* == == == Media queries == == == */
/* For mobile devices */
@media screen and (max-width: 1023px) {
    /* Header */
    .nav_menu {
        padding-block: 4.5rem 4rem;
        width: 66%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        display: none;
        transition: top .4s;
    }

    .show_menu {
        background-color: #4c4c4c21;
        backdrop-filter: blur(9px);
        -webkit-backdrop-filter: blur(9px);
        display: flex;
        align-items: start;
        justify-content: start;
    }
}

/* For medium devices */
@media screen and (min-width: 576px) {
    .home_container {
        grid-template-columns: 420px;
        justify-content: center;
    }
}

@media screen and (min-width: 768px) {
    .home_container {grid-template-columns: 580px;}

    .home_data {
        width: 420px;
        justify-self: center;
    }
}

/* For large devices */
@media screen and (min-width: 1023px) {
    /* Header */
    nav {
        height: 56px;
        column-gap: 39px;
    }

    .nav_close, .nav_toggle {display: none;}
    #theme_btn {font-size: var(--fs-h4);}
    .nav_menu {margin-left: auto;}
  
    #nav_list {
        flex-direction: row;
        column-gap: 3rem;
    }

    .nav_link {color: var(--light);}
}

@media screen and (min-width: 1150px) {
    .container {margin-inline: auto;}
    .section {padding-block: 112px 32px;}

    .home_container {
        padding-block: 112px 32px;
        grid-template-columns: 435px 745px;
        align-items: center;
    }

    .home_data {
        width: initial;
        text-align: initial;
    }

    #home_description {margin-bottom: 64px;}
    .home_article, .home_img {width: 290px;}
}