    /* == == == == Fonts == == == == */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

    /* == == == == Variables == == == == */

:root {
    /* Color Palette */
    --c-primary-l: #fd7d36;
    --c-primary:   #fc5c04;
    --c-primary-d: #ca4a03;
    --c-dark-l:    #2B2929;
    --c-dark:      #121212;
    --c-dark-d:    #0D0B0B;
    --c-grey-l:    #a5a5a5;
    --c-grey:      #353535;
    --c-grey-d:    #0F0E0E;
    --c-light-l:   #FFFFFF;
    --c-light:     #F2F2F2;
    --c-light-d:   #E6E6E6;

    /* Shadow */
    --sh-default: #0000001a;

    /* Font Family */
    --ff-s-serif: "Poppins", sans-serif;

    /* Font Size */
    --fs-big: 42px;
    --fs-h1: 34px;
    --fs-h2: 30px;
    --fs-h3: 26px;
    --fs-h4: 22px;
    --fs-h5: 18px;
    --fs-par: 16px;
    --fs-small: 14px;
    --fs-smaller: 12px;
}

    /* == == == == Global == == == == */

* {
    color: var(--c-dark);
    font-family: var(--ff-s-serif);
    margin: 0;
    padding: 0;
    font-size: var(--fs-par);
    box-sizing: border-box;
}

html{scroll-behavior: smooth;}
body {background-color: var(--c-light);}
ul {list-style: none;}
a {text-decoration: none;}

img {
    max-width: 100%;
    height: auto;
}

.container {max-width: 768px;}
section, .container {margin: 0 var(--fs-h4);}

.grid {
    display: grid;
    gap: var(--fs-h4);
}

.section_title {
    color: var(--c-dark);
    font-size: var(--fs-h1);
    text-align: left;
    margin-left: 6rem;
    margin-bottom: 45px;
    font-weight: 600;
    position: relative;
    letter-spacing: 1px;
}

.section_title::after {
    border-radius: 20px;
    content: '';
    background-color: var(--c-primary);
    width: 140px;
    height: 4px;
    position: absolute;
    bottom: -9px;
    left: 0;
}

    /* == == == == Splash Screen == == == == */

#intro {
    background-color: var(--c-primary);
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 999;
    transition: 1s;
}

#logo_splash {
    top: 40%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.logo {
    opacity: 0;
    color: var(--c-light);
    margin-right: 10px;
    letter-spacing: 1.5px;
    font-size: var(--fs-h1);
    bottom: -20px;
    position: relative;
    display: inline-block;
}

.logo.active {
    opacity: 1;
    bottom: 0;
    transition: ease-in-out 0.5s;
}

.logo.fade {
    opacity: 0;
    bottom: 150px;
    transition: ease-in-out 0.5s;
}

    /* == == == == Scroll Bar == == == == */

::-webkit-scrollbar {
    border-radius: .5rem;
    background-color: var(--c-grey-l);
    width: .6rem;
}

::-webkit-scrollbar-thumb {
    border-radius: .5rem;
    background-color: var(--c-primary);
}

::-webkit-scrollbar-thumb:hover {background-color: var(--c-primary-d);}

    /* == == == == Whatsapp Fixed Button == == == == */

#whatsapp a {
    position: fixed;
    transform: all .5s ease;
    background-color: #25D366;
    display: block;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border-radius: 50px;
    border-right: none;
    padding-top: 7px;
    bottom: 30px;
    left: 30px;
    border: 0;
    z-index: 1;
    width: 50px;
    height: 50px;
    line-height: 50px;
}

#whatsapp a:before {
    content: '';
    position: absolute;
    z-index: -1;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 60px;
    height: 60px;
    background-color: #25D366;
    border-radius: 50%;
    -webkit-animation: pulse-border 1200ms ease-out infinite;
    animation: pulse-border 1200ms ease-out infinite;
}

#whatsapp a:focus {
    border: none;
    outline: none;
}

#whatsapp a:hover {transform: scale(1.1);}

@keyframes pulse-border {
    0% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
        opacity: 1;
    }

    100% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
        opacity: 0;
    }
}

#whatsapp i {
    color: var(--c-dark);
    font-size: var(--fs-h1);
}

    /* == == == == Scroll Top Fixed Button == == == == */

#scrollTop {
    outline: none;
    border: 0;
    background-color: var(--c-primary-l);
    width: 50px;
    height: 50px;
    padding: 6px;
    border-radius: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 1;
    box-shadow: 0 1px 6px 2px rgba(0, 0, 0, 0.10),
                0 2px 4px -1px rgba(0, 0, 0, 0.06);
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: all .4s ease;
}

#scrollTop:hover {background-color: var(--c-primary);}

#scrollTop.active {
    opacity: 1;
    visibility: visible;
}

#scrollTop i {
    color: var(--c-light);
    font-size: var(--fs-h2);
}

    /* == == == == Header == == == == */

header {
    background-color: var(--c-light);
    width: 100%;
    bottom: 0;
    left: 0;
    position: fixed;
    z-index: 998;
}

nav {
    max-width: 986px;
    height: var(--fs-big);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav_logo {letter-spacing: 1px;}
#nav_logo:hover {color: var(--c-primary);}

#nav_toggle i {
    cursor: pointer;
    font-size: var(--fs-h3);
}

#nav_toggle:hover i {color: var(--c-primary);}
#nav_logo, #nav_toggle {font-weight: 500;}

#nav_list {
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.nav_link {
    font-size: var(--fs-small);
    font-weight: 500;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav_link:hover i, .nav_link:hover {color: var(--c-primary);}
.nav_icon {font-size: var(--fs-h5);}

#nav_close {
    cursor: pointer;
    color: var(--c-primary);
    font-size: var(--fs-h3);
    right: 24px;
    bottom: 12px;
    position: absolute;
}

#nav_close:hover {color: var(--c-primary-d);}

.show_menu {
    background-color: var(--c-light);
    bottom: 0 !important;
}

.remove {display: none;}
.active_link {color: var(--c-primary);}
.scroll_header {box-shadow: 0 -1px 4px var(--sh-default);}

#nav_btns {
    display: flex;
    align-items: center;
}

.change_theme {
    cursor: pointer;
    margin-right: 1rem;
    font-size: var(--fs-h3);
}

.change_theme:hover {color: var(--c-primary);}

body.dark_theme {
    /* Color Palette */
    --c-primary-l: #fd7d36;
    --c-primary:   #fc5c04;
    --c-primary-d: #ca4a03;
    --c-dark-l:    #fff;
    --c-dark:      #f2f2f2;
    --c-dark-d:    #e6e6e6;
    --c-grey-l:    #a5a5a5;
    --c-grey:      #0f0e0e;
    --c-grey-d:    #2b2929;
    --c-light-l:   #121212;
    --c-light:     #0d0b0b;
    --c-light-d:   #000;

    /* Shadow */
    --sh-default: #bdbdbd10;
}

    /* == == == == Main == == == == */

#home {
    padding: 0 0 4rem;
    height: 100vh;
}

#home_container .grid {gap: 0;}

#home_content {
    grid-template-columns: .5fr 3fr;
    padding-top: 0;
    align-items: center;
}

#home_social {
    display: grid;
    grid-template-columns: max-content;
    row-gap: 1rem;
}

.home_social_icon i {
    color: var(--c-primary);
    font-size: var(--fs-h3);
}

.home_social_icon i:hover {color: var(--c-primary-d);}
#home_data {grid-column: 1/3;}
#home_title {
    font-size: var(--fs-h2);
    font-weight: 600;
}

#home_sub {
    color: var(--c-primary-l);
    font-weight: 600;
    margin-bottom: .75rem;
    font-size: var(--fs-h3);
}

#home_sub:hover {color: var(--c-primary);}
#home_desc {margin-bottom: 1.5rem;}

#home_scroll {
    margin-top: 1.8rem;
    display: flex;
    justify-content: center;
    transition: .3s;
}

#home_scroll:hover {transform: translateY(.3rem);}

#home_scroll_btn i {
    color: var(--c-primary);
    font-size: var(--fs-h4);
}

#home_scroll_name {
    font-weight: 600;
    margin: 0 .3rem;
    font-size: var(--fs-small);
}

#home_scroll_arrow {font-size: var(--fs-h5) !important;}

.btn {
    border-radius: .5rem;
    background-color: var(--c-primary);
    font-weight: 600;
    padding: 1rem;
    display: inline-block;
}

.btn:hover {background-color: var(--c-primary-d);}

.btn_icon {
    margin-left: .5rem;
    font-size: var(--fs-h5);
    transition: .3s;
}

.btn_flex {
    display: inline-flex;
    align-items: center;
}

#home_img_wrapper {
    margin-inline: auto 2rem;
    transform: scale(.9);
    position: relative;
}

#home_img_wrapper::before,
#home_img_wrapper::after {
    content: '';
    position: absolute;
    inset: 0;
}

#home_img_wrapper::before {
    background-color: var(--c-primary-l);
    animation: animate_before 8s ease-in-out infinite;
}

#home_img_wrapper::after {background-color: var(--c-primary);}
#home_img_wrapper::after,
#home_img {
    animation: animate_after 8s ease-in-out infinite;
}

#home_img {
    position: relative;
    vertical-align: middle;
    z-index: 1;
}

@keyframes animate_before {
    0% {
        border-radius: 65% 35% 29% 71% / 55% 30% 70% 45%;
    }

    50% {
        border-radius: 21% 79% 50% 50% / 21% 50% 50% 79%;
    }

    100% {
        border-radius: 65% 35% 29% 71% / 55% 30% 70% 45%;
    }
}

@keyframes animate_after {
    0% {
        border-radius: 21% 79% 50% 50% / 21% 50% 50% 79%;
    }

    50% {
        border-radius: 65% 35% 29% 71% / 55% 30% 70% 45%;
    }

    100% {
        border-radius: 21% 79% 50% 50% / 21% 50% 50% 79%;
    }
}

    /* == == == == Services == == == == */

.services_container {
    margin: 69px var(--fs-h4);
    max-width: 100%;
    height: 100%;
}

.row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.service {
    border: 1px solid var(--c-primary);
    text-align: center;
    margin: 1.5rem;
    padding: 20px 20px;
    border-radius: 5px;
    font-size: var(--fs-small);
    background: transparent;
    transition: transform .5s, background .5s;
}

.service i {
    font-size: var(--fs-h1);
    margin-bottom: 8px;
    color: var(--c-primary);
}

.service h2 {
    font-size: var(--fs-h4);
    font-weight: 600;
    margin-bottom: 8px;
    letter-spacing: 2px;
}

.service p {
    font-size: var(--fs-par);
    letter-spacing: 1px;
    color: var(--c-dark-d);
}

.service:hover{
    border: 1px solid var(--c-primary-d);
    background: var(--c-primary);
    transform: scale(1.05);
}

.service:hover i {color: var(--c-dark-d);}
.service:hover p, .service:hover h2 {color: var(--c-light-d);}

    /* == == == == Portfolio == == == == */

#portfolio {min-height: 100vh;}

.filter {
    max-width: 100vw;
    margin: 60px;
    display: flex;
    justify-content: center;
    list-style: none;
}

.filter .item {
    letter-spacing: 1px;
    font-size: var(--fs-h5);
    font-weight: 500;
    color: var(--c-grey-l);
    padding: 0 25px;
    margin: 0 9px;
    cursor: pointer;
    transition: .3s;
}

.filter .item:hover {
    color: var(--c-dark);
    transform: scale(1.09);
}

.filter .active {
    font-size: var(--fs-h4);
    color: var(--c-dark);
    letter-spacing: 1.5px;
    padding: 0 2px;
    background: linear-gradient(to bottom, transparent 50%, var(--c-primary) 50%);
}

.filter .active:hover {transform: none;}


.itens {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.itens .item {
    position: relative;
    width: 315px;
    height: 315px;
    margin: 7px 7px;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 3px var(--sh-default);
    transition: .3s;
    align-items: center;
    justify-content: center;
}

.itens .item:hover {
    transform: scale(1.06);
    box-shadow: 2px 2px 4px var(--sh-default);
}

.itens .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

    /* == == == == Differences == == == == */

#differences {margin: 69px var(--fs-h4);}
#dif_container {margin-top: 69px;}

#dif_data {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    column-gap: 1.5rem;
}

.dif_item {max-width: 400px;}

.dif_title {
    color: var(--c-dark-d);
    font-size: var(--fs-h5);
    font-weight: 600;
    letter-spacing: 1px;
}

.dif_par {
    color: var(--c-grey-l);
    font-size: var(--fs-small);
    margin-bottom: 2rem;
    display: inline-block;
}

.dif_rounder {
    border-radius: 50%;
    background-color: var(--c-primary);
    width: 13px;
    height: 13px;
    display: inline-block;
    position: relative;
}

.dif_line {
    background-color: var(--c-primary-l);
    width: 1px;
    height: 100%;
    display: block;
    transform: translate(6px, -7px);
}

    /* == == == == RESPONSIVENESS == == == == */

    /* == == == == Small Devices == == == == */

@media screen and (max-width: 350px) {
    .container {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    #nav_menu {padding: 2rem .25rem 4rem;}
    #nav_list {column-gap: 0;}
    #home_content {grid-template-columns: .25fr 3fr;}
    .dif_data {gap: .5rem;}
}

@media screen and (max-width: 430px) {
    .services_container {margin-top: 40px !important;}
    #dif_data {column-gap: 1rem;}
}

@media screen and (max-width: 500px) {
    .logo {font-size: var(--fs-h3);}
    .section_title {margin-left: 0;}
    .services_container {margin-top: 0px;}
    
    .service {
        margin: 1rem 0;
        padding: 15px 15px;
    }
    
    .service i {font-size: var(--fs-h2);}
    .service h2 {letter-spacing: 1px;}

    .itens .item {
        width: 160px;
        height: 160px;
        margin: 3px 3px;
    }
}

    /* == == == == Mid Devices == == == == */

@media screen and (max-width: 799px) {
    #whatsapp a {
        bottom: 63px;
        left: 20px;
    }

    .up a {bottom: 230px !important; transition: .3s;}

    #scrollTop {
        bottom: 63px;
        right: 20px;
    }

    #nav_menu {
        box-shadow: 0 -1px 4px rgba(0, 0, 0, .15);
        border-radius: 1.5rem 1.5rem 0 0;
        padding: 2rem 1.5rem 4rem;
        width: 100%;
        bottom: -100%;
        left: 0;
        position: fixed;
        transition: .3s;
    }
}

    /* == == == == Large devices == == == == */

@media screen and (min-width: 800px) {
    .container {
        max-width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    header {
        padding: 0 2rem;
        top: 0;
        bottom: initial;
    }

    nav {
        width: 100vw;
        height: 3.5rem;
        column-gap: 1rem;
        display: flex;
        justify-content: space-around;
    }

    .nav_item .nav_icon,
    #nav_close,
    #nav_toggle {display: none;}

    #nav_list {
        display: flex;
        column-gap: 3rem;
    }

    #nav_menu {margin-left: auto;}
    .change_theme {margin: 0 0 0 1rem;}

    #home {
        padding: 0;
        height: 100vh;
    }

    #home_container {height: 100%;}

    #home_content {
        margin-top: 100px;
        display: flex;
    }

    #home_social {
        order: 1;
        margin-left: 1.5rem;
        display: flex;
        flex-direction: column;
        row-gap: 2rem;
    }

    #home_data {
        order: 2;
        margin: 0 6rem;
        width: 40%;
        text-align: left;
    }

    #home_title {font-size: var(--fs-big);}

    #home_sub {
        margin-bottom: .7rem;
        font-size: var(--fs-h1);
    }

    #home_desc {margin-bottom: 2.4rem;}
    #home_scroll {margin-top: 3rem;}


    #home_scroll_arrow {font-size: var(--fs-h5) !important;}

    #home_img_wrapper {
        order: 3;
        margin: 0;
        transform: scale(1);
    }

    #dif_section {
        display: flex;
        justify-content: center;
    }
}