/* == == == Variables == == == */
:root {
    /* Colors */
    --light-l: #ffffff;
    --light:   #f7f7f7;
    --light-d: #e6e6e6;
    --grey-l:  #cccccc;
    --grey:    #808080;
    --grey-d:  #4c4c4c;
    --dark-l:  #333333;
    --dark:    #191919;
    --dark-d:  #000000;

    /* Font family */
    --ff-s-serif: "Poppins", sans-serif;

    /* Font size */
    --fs-big: 42px;
    --fs-h1: 34px;
    --fs-h2: 30px;
    --fs-h3: 26px;
    --fs-h4: 22px;
    --fs-h5: 18px;
    --fs-par: 16px;
    --fs-small: 14px;
    --fs-smaller: 12px;

    /* Z-index */
    --z-fixed: 100;
    --z-modal: 1000;

    /* Social medias menu sizes */
    --size: 3.5rem;
    --radius: 11rem;
    --padding: 20px;
    --factor: 0;
}


/* == == == Global == == == */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {scroll-behavior: smooth;}

body, input, button {
    font-family: var(--ff-s-serif);
    font-size: var(--fs-par);
}

body {
    background-color: var(--light);
    color: var(--dark);
}

input, button {
    border: none;
    outline: none;
}

ul {list-style: none;}
a {text-decoration: none;}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    max-width: 1120px;
    margin-inline: 1.5rem;
}


.search {
    pointer-events: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: var(--z-modal);
    background-color: var(--grey-l);
    backdrop-filter: blur(24px);
    -webkit-backdrop-filter: blur(24px); /* For safari */
    padding: 8rem 1.5rem 0;
    opacity: 0;
    transition: opacity .4s;
}

.search_close {
    cursor: pointer;
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-size: 1.5rem;
    color: var(--dark);
}

/* == == == Contacts button == == == */

menu {
    position: fixed;
    bottom: var(--padding);
    right: var(--padding);
    z-index: 1;
}

menu > * {
    background: var(--grey-l);
    color: var(--grey-d);
    text-decoration: none;
    position: absolute;
    display: grid;
    place-content: center;
}

menu > .action {
    border-radius: 50%;
    opacity: 0;
    width: var(--size);
    height: var(--size);
    bottom: calc(-0.3 * var(--size));
    right: calc(-0.3 * var(--size));
    transform: rotate(calc(-1 * var(--angle))) translateY(calc(-1 * var(--radius) * var(--factor))) rotate(var(--angle));
    transition: transform 0.25s ease-in-out, opacity 0.25s ease-in-out, color 0.25s ease-in-out;
}

menu > .action:hover, menu > .trigger:hover{
    color: var(--dark-l);
}

menu > .action:nth-child(1) {
    --angle: 3deg;
    transition-delay: 0.05;
}

menu > .action:nth-child(2) {
    --angle: 30deg;
    transition-delay: 0.1s;
}

menu > .action:nth-child(3) {
    --angle: 57deg;
    transition-delay: 0.15s;
}

menu > .action:nth-child(4) {
    --angle: 84deg;
    transition-delay: 0.2s;
}

menu.open > .action {
    --factor: 1;
    opacity: 1;
}

menu > .trigger {
    cursor: pointer;
    border-radius: 50%;
    width: 105px;
    height: 105px;
    padding: 12px;
    font-size: var(--fs-h5);
    bottom: 0;
    right: 0;
    text-align: center;
}

menu > .trigger:before {
    content: '';
    position: absolute;
    z-index: -1;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 100%;
    height: 100%;
    background-color: var(--dark);
    border-radius: inherit;
    -webkit-animation: pulse-border 1200ms ease-out infinite;
    animation: pulse-border 1500ms ease-out infinite;
}

@keyframes pulse-border {
    0% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
        opacity: 1;
    }

    100% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.4);
        opacity: 0;
    }
}

/* == == == Header == == == */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--light);
    box-shadow: 0 2px 16px var(--light-d);
    z-index: var(--z-fixed);
}

nav {
    height: 3.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav_logo {
    color: var(--dark);
    font-weight: var(--font-semi-bold);
    transition: color .4s;
}

#nav_actions {
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

.search_btn, .nav_toggle, .nav_close {
    font-size: 1.25rem;
    color: var(--dark);
    cursor: pointer;
    transition: color .4s;
}

/* Navigation for mobile devices */
@media screen and (max-width: 1023px) {
    .nav_menu {
        position: fixed;
        top: 0;
        left: 0;
        box-shadow: 0 8px 16px hsla(230, 75%, 32%, .15);
        width: 100%;
        height: 100vh;
        padding-block: 4.5rem 4rem;
        transition: top .4s;
        display: none;
    }

    .show_menu {
        background-color: var(--grey);
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

#nav_list {
    display: flex;
    flex-direction: column;
    row-gap: 2.5rem;
    text-align: center;
}

.nav_link {
    position: relative;
    color: var(--dark);
    font-weight: var(--font-semi-bold);
    transition: color .4s;
}

.nav_link::before {
    content: '';
    position: absolute;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: #333;
    transform: scaleX(0);
    transition: transform 0.5s ease-in-out;
    transform-origin: right;
}

.nav_link:hover::before {
    transform: scaleX(1);
    transform-origin: left;
}

.nav_close {
    position: absolute;
    top: 1.15rem;
    right: 1.5rem;
}

/* Show menu */
.show_menu {top: 0;}

.drop_btn {cursor: pointer;}

.drop_arrow {
    color: var(--c-primary);
    font-weight: initial;
    font-size: var(--fs-h4);
    transition: transform .4s;
}

.drop_content, .drop_list {display: grid;}

.drop_item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.drop_container {
    position: absolute;
    width: 150px;
    top: 3.5rem;
    overflow: hidden;
    background-color: var(--c-grey-l);
    height: 0;
    transition: height .4s;
    z-index: 1;
}

.drop_content {
    row-gap: 26px;
    background-color: var(--grey-l);
}

.drop_list {row-gap: 3px;}

.drop_link {
    color: var(--c-grey);
    font-size: var(--fs-par);
    transition: color .4s;
}

.drop_link:hover {
    color: var(--c-grey);
    transform: scale(1.07);
}

.show_drop .drop_arrow {transform: rotate(180deg);}

/* == == == Search == == == */

/* Show search */
.show_search {
    opacity: 1;
    pointer-events: initial;
}

.show_search #search_form {transform: translateY(0);}

.search {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
}

#search_form {
    background-color: var(--light-d);
    display: flex;
    align-items: center;
    column-gap: .5rem;
    box-shadow: 0 8px 32px var(--light-d);
    padding-inline: 1rem;
    border-radius: .5rem;
    transform: translateY(-1rem);
    transition: transform .4s;
}

#search_icon {
    font-size: 1.25rem;
    color: var(--dark);
}

#search_input {
    width: 100%;
    padding-block: 1rem;
    background-color: var(--light-d);
    color: var(--dark);
}

#search_input::placeholder {color: var(--grey);}

/* == == == Hero == == == */

.slider{
    top: 3.5rem;
    width: 100vw;
    max-width: 100vw;
    height: 40vh;
    max-height: 50vh;
    position: relative;
    overflow: hidden;
}

.slider .list{
    position: absolute;
    width: 100vw;
    height: 40vh;
    left: 0;
    top: 0;
    display: flex;
    transition: 1s;
}

.slider .list img{
    width: 100vw;
    max-width: 100vw;
    height: 40vh;
    object-fit: fill;
}

.slider .buttons{
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translateY(-50%);
    pointer-events: none;
}

.slider .buttons button{
    cursor: pointer;
    pointer-events: all;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff5;
    color: #fff;
    border: none;
    font-family: monospace;
    font-weight: bold;
    margin: 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider .dots{
    position: absolute;
    bottom: 10px;
    left: 0;
    color: #fff;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.slider .dots li{
    cursor: pointer;
    list-style: none;
    width: 10px;
    height: 10px;
    background-color: #fff;
    margin: 10px;
    border-radius: 20px;
    transition: 0.5s;
}

.slider .dots li.active{width: 30px;}

/* == == == Main == == == */

main {
    padding: 90px 39px;
    background-color: var(--dark-l);
    margin-top: 56px;
    display: flex;
    justify-content: center;
    text-align: center;
}

section h2 {
    margin-bottom: 45px;
}

.cards {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
}

.card {
    border: 1px solid var(--grey);
    width: 390px;
    height: 420px;
    margin: 0 15px 30px;
}

.card img {
    width: 85%;
    object-fit: contain;
}



/* == == == Responsiveness == == == */

/* For medium devices */
@media screen and (min-width: 576px) {
    /* Search */
    .search {padding-top: 10rem;}

    #search_form {
        max-width: 450px;
        margin-inline: auto;
    }

    .search_close {
        width: max-content;
        top: 5rem;
        left: 0;
        right: 0;
        margin-inline: auto;
        font-size: 2rem;
    }

    /* Hero */
    .slider{
        height: calc(100vh - 3.5rem);
        max-height: calc(100vh - 3.5rem);
    }
    
    .slider .list{height: calc(100vh - 3.5rem);}
    
    .slider .list img{
        height: calc(100vh - 3.5rem);
    }
}

/* For large devices */
@media screen and (min-width: 1023px) {
    nav {
        height: 5rem;
        column-gap: 3rem;
    }

    .nav_close, .nav_toggle {display: none;}
    .nav_menu {margin-left: auto;}
  
    #nav_list {
        flex-direction: row;
        column-gap: 3rem;
    }
}

@media screen and (min-width: 1150px) {
    .container {margin-inline: auto;}
}