    /* == == == == FONTS == == == == */

@import url('https://fonts.googleapis.com/css2?family=Ephesis&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

    /* == == == == VARIABLES == == == == */

:root {
    /* Color Palette */
    --c-primary-l:  #FFFF33;
    --c-primary:    #FCFC05;
    --c-primary-d:  #CCCC00;
    --c-secondary-l:#4D2EE5;
    --c-secondary:  #2404C2;
    --c-secondary-d:#1A0099;
    --c-tertiary-l: #21A63C;
    --c-tertiary:   #06771D;
    --c-tertiary-d: #005912;
    --c-dark-l:     #2B2929;
    --c-dark:       #121212;
    --c-dark-d:     #0D0B0B;
    --c-grey-l:     #cccccc;
    --c-grey:       #353535;
    --c-grey-d:     #0F0E0E;
    --c-light-l:    #FFFFFF;
    --c-light:      #F2F2F2;
    --c-light-d:    #E6E6E6;

    /* Font Family */
    --ff-display: "Ephesis", cursive;
    --ff-serif: "Noto Serif", serif;
    --ff-s-serif: "Poppins", sans-serif;

    /* Font Size */
    --fs-big: 42px;
    --fs-h1: 34px;
    --fs-h2: 30px;
    --fs-h3: 26px;
    --fs-h4: 22px;
    --fs-h5: 18px;
    --fs-par: 16px;
    --fs-small: 14px;
    --fs-smaller: 12px;
}

    /* == == == == GLOBAL == == == == */

* {
    color: var(--c-dark);
    font-family: var(--ff-s-serif);
    margin: 0;
    padding: 0;
    font-size: var(--fs-par);
    box-sizing: border-box;
}

ul {list-style: none;}
a {text-decoration: none;}

.container {
    max-width: 1120px;
    margin-inline: 1.5rem;
}

    /* == == == == SPLASH SCREEN == == == == */

#intro {
    background-color: var(--c-primary);
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    transition: 1s;
}

#logo_splash {
    top: 30%;
    position: absolute;
}

.logo {
    opacity: 0;
    font-family: var(--ff-display);
    font-size: var(--fs-big);
    bottom: -20px;
    position: relative;
    display: flex;
    align-items: center;
}

.logo.active {
    opacity: 1;
    bottom: 0;
    transition: ease-in-out 0.5s;
}

.logo.fade {
    opacity: 0;
    bottom: 150px;
    transition: ease-in-out 0.5s;
}

.logo img {
    margin-right: 20px;
    width: 70px;
    height: 70px;
}

#slogan {
    font-family: var(--ff-serif);
    margin-top: 10px;
    font-size: var(--fs-h5);
}

    /* == == == == HEADER == == == == */

header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

nav { height: 70px;}

#nav_data {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav_logo {
    display: inline-flex;
    align-items: center;
}

#nav_logo img {
    width: 65px;
    height: 65px;
}

#nav_toggle {
    width: 25px;
    height: 25px;
    position: relative;
}

.nav_toggle_menu, .nav_toggle_close {
    cursor: pointer;
    color: var(--c-primary);
    font-size: var(--fs-h4);
    position: absolute;
    display: grid;
    place-items: center;
    inset: 0;
    transition: opacity .1s, transform .4s;
}

.nav_toggle_close {opacity: 0;}

@media screen and (max-width: 1118px) {
    .nav_menu {
        opacity: 0;
        overflow: auto;
        pointer-events: none;
        background-color: var(--c-dark);
        width: 100%;
        height: calc(100vh - 70px);
        padding-block: 26px 22px;
        position: absolute;
        left: 0;
        top: 70px;
        transition: top .4s, opacity .3s;
    }

    .nav_menu::-webkit-scrollbar {width: 6px;}
    .nav_menu::-webkit-scrollbar-thumb {background-color: #afafaf;}
}

.nav_link {
    color: var(--c-light-d);
    font-weight: 600;
    padding: 26px 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: color .3s;
}

.nav_link:hover {color: var(--c-primary);}

.show_menu {
    pointer-events: initial;
    opacity: 1;
    top: 70px;
}

.show_icon .nav_toggle_menu {
    opacity: 0;
    transform: rotate(90deg);
}

.show_icon .nav_toggle_close {
    opacity: 1;
    transform: rotate(90deg);
}

.drop_btn {cursor: pointer;}

.drop_arrow {
    color: var(--c-primary);
    font-weight: initial;
    font-size: var(--fs-h4);
    transition: transform .4s;
}

.drop_content, .drop_group, .drop_list {display: grid;}

.drop_container {
    overflow: hidden;
    background-color: var(--c-grey-l);
    height: 0;
    transition: height .4s;
}

.drop_content {row-gap: 26px;}

.drop_group {
    padding-left: 30px;
    row-gap: 8px;
}

.drop_group:first-child {margin-top: 16px;}

.drop_title {
    color: var(--c-dark);
    font-weight: 600;
    font-size: var(--fs-h5);
}

.drop_list {row-gap: 3px;}

.drop_link {
    color: var(--c-grey);
    font-size: var(--fs-par);
    transition: color .3s;
}

.drop_link:hover {color: var(--c-primary);}
.show_drop .drop_arrow {transform: rotate(180deg);}

    /* == == == == MAIN == == == == */

/* carousel */
.carousel{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
}
.carousel .list .item{
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0 0 0 0;
}
.carousel .list .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.carousel .list .item .content{
    position: absolute;
    top: 20%;
    width: 1140px;
    max-width: 80%;
    left: 25%;
    transform: translateX(-25%);
    padding-right: 40%;
    box-sizing: border-box;
    text-shadow: 0 5px 10px var(--c-grey-d);
}

.carousel .list .item .title {
    color: var(--c-light);
    font-size: var(--fs-h3);
    font-weight: bold;
    line-height: var(--fs-h1);
}
.carousel .list .item .topic{
    color: var(--c-primary);
    font-size: var(--fs-big);
    font-weight: bold;
    line-height: var(--fs-big);
}

.carousel .list .item .des{
    color: var(--c-light-d);
    font-size: var(--fs-h4);
    line-height: var(--fs-h3);
}

.carousel .list .item .buttons{
    display: grid;
    grid-template-columns: repeat(2, 140px);
    grid-template-rows: 42px;
    gap: 16px;
    margin-top: 30px;
}
.carousel .list .item .buttons button{
    border-radius: 26px;
    border: none;
    background-color: var(--c-primary);
    letter-spacing: 2px;
    font-weight: 600;
}
.carousel .list .item .buttons button:nth-child(2){
    background-color: transparent;
    border: 1px solid var(--c-primary);
    color: var(--c-light);
}
/* thumbail */
.thumbnail{
    position: absolute;
    bottom: 5%;
    left: 50%;
    width: max-content;
    z-index: 100;
    display: flex;
    gap: 20px;
}
.thumbnail .item{
    width: 150px;
    height: 220px;
    flex-shrink: 0;
    position: relative;
}
.thumbnail .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}
.thumbnail .item .content{
    position: absolute;
    bottom: 16px;
    left: 12px;
    right: 12px;
}
.thumbnail .item .content .title{
    color: var(--c-primary);
    text-shadow: 0 2px 4px var(--c-grey);
    font-weight: 500;
}

/* arrows */
.arrows{
    position: absolute;
    top: 75%;
    right: 55%;
    z-index: 100;
    width: 300px;
    max-width: 30%;
    display: flex;
    gap: 16px;
    align-items: center;
}
.arrows button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--c-light-d);
    font-size: var(--fs-h3);
    border: none;
    color: var(--c-dark-l);
    font-family: monospace;
    font-weight: bold;
    transition: .5s;
}
.arrows button:hover{
    background-color: var(--c-primary);
    color: var(--c-dark-l);
}

/* animation */
.carousel .list .item:nth-child(1){z-index: 1;}

/* animation text in first item */

.carousel .list .item:nth-child(1) .content .title,
.carousel .list .item:nth-child(1) .content .topic,
.carousel .list .item:nth-child(1) .content .des,
.carousel .list .item:nth-child(1) .content .buttons
{
    transform: translateY(50px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent .5s 1s linear 1 forwards;
}
@keyframes showContent{
    to{
        transform: translateY(0px);
        filter: blur(0px);
        opacity: 1;
    }
}
.carousel .list .item:nth-child(1) .content .title{
    animation-delay: 1.4s!important;
}
.carousel .list .item:nth-child(1) .content .topic{
    animation-delay: 1.6s!important;
}
.carousel .list .item:nth-child(1) .content .buttons{
    animation-delay: 2s!important;
}
/* create animation when next click */
.carousel.next .list .item:nth-child(1) img{
    width: 150px;
    height: 220px;
    position: absolute;
    bottom: 50px;
    left: 50%;
    border-radius: 30px;
    animation: showImage .5s linear 1 forwards;
}
@keyframes showImage{
    to{
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
}

.carousel.next .thumbnail .item:nth-last-child(1){
    overflow: hidden;
    animation: showThumbnail .5s linear 1 forwards;
}
.carousel.prev .list .item img{
    z-index: 100;
}
@keyframes showThumbnail{
    from{
        width: 0;
        opacity: 0;
    }
}
.carousel.next .thumbnail{
    animation: effectNext .5s linear 1 forwards;
}

@keyframes effectNext{
    from{
        transform: translateX(150px);
    }
}

/* running time */

.carousel .time{
    position: absolute;
    z-index: 1000;
    width: 0%;
    height: 3px;
    background-color: var(--c-primary);
    left: 0;
    top: 0;
}

.carousel.next .time,
.carousel.prev .time{
    animation: runningTime 7s linear 1 forwards;
}
@keyframes runningTime{
    from{ width: 100%}
    to{width: 0}
}


/* prev click */

.carousel.prev .list .item:nth-child(2){
    z-index: 2;
}

.carousel.prev .list .item:nth-child(2) img{
    animation: outFrame 0.5s linear 1 forwards;
    position: absolute;
    bottom: 0;
    left: 0;
}
@keyframes outFrame{
    to{
        width: 150px;
        height: 220px;
        bottom: 50px;
        left: 50%;
        border-radius: 20px;
    }
}

.carousel.prev .thumbnail .item:nth-child(1){
    overflow: hidden;
    opacity: 0;
    animation: showThumbnail .5s linear 1 forwards;
}
.carousel.next .arrows button,
.carousel.prev .arrows button{
    pointer-events: none;
}
.carousel.prev .list .item:nth-child(2) .content .title,
.carousel.prev .list .item:nth-child(2) .content .topic,
.carousel.prev .list .item:nth-child(2) .content .des,
.carousel.prev .list .item:nth-child(2) .content .buttons
{
    animation: contentOut 1.5s linear 1 forwards!important;
}

@keyframes contentOut{
    to{
        transform: translateY(-150px);
        filter: blur(20px);
        opacity: 0;
    }
}

    /* == == == == RESPONSIVENESS == == == == */

    /* == == == == HEADER == == == == */

/* Small devices */
@media screen and (max-width: 300px) {
    .drop_group {padding-left: 22px;}
}

/* Large devices */
@media screen and (min-width: 1118px) {
    nav {
        height: 90px;
        display: flex;
        justify-content: space-between;
    }

    #nav_toggle {display: none;}

    #nav_list {
        height: 100%;
        column-gap: 30px;
        display: flex;
    }

    nav li {display: flex;}
    .nav_link {padding: 0;}
    .nav_link:hover {background-color: initial;}

    .drop_btn {
        pointer-events: none;
        column-gap: .25rem;
    }

    .drop_container {
        pointer-events: none;
        opacity: 0;
        box-shadow: 0 6px 8px var(--c-light-d);
        background-color: var(--c-grey-l);
        height: max-content;
        position: absolute;
        left: 0;
        right: 0;
        top: 6.5rem;
        transition: top .4s, opacity .3s;
    }

    .drop_content {
        max-width: 1120px;
        margin-inline: auto;
        grid-template-columns: repeat(4, max-content);
        display: flex;
        justify-content: space-around;
    }

    .drop_group {
        padding: 26px 0;
        align-content: baseline;
        row-gap: 18px;
    }

    .drop_group:first-child, .drop_group:last-child {margin: 0;}
    .drop_list {row-gap: 12px;}
    .drop_title {font-size: var(--fs-h5);}
    .drop_link {font: var(--fs-par);}
    .drop_link:hover {color: var(--c-primary);}
    .drop_item {cursor: pointer;}
    .drop_item:hover .drop_arrow {transform: rotate(180deg);}

    .drop_item:hover > .drop_container {
        pointer-events: initial;
        cursor: initial;
        opacity: 1;
        top: 90px;
    }
}

@media screen and (min-width: 1152px) {
    .container {margin-inline: auto;}
}

    /* == == == == MAIN == == == == */

@media screen and (max-width: 678px) {
    .carousel .list .item .content{
        top: 15%;
        padding-right: 0;
    }
}